@-webkit-keyframes appear {
  0% {
    background-color: rgb(182, 255, 182);
  }
  100% {
    background-color: rgb(158, 231, 207);
  }
}
@keyframes appear {
  0% {
    background-color: rgb(182, 255, 182);
  }
  100% {
    background-color: rgb(158, 231, 207);
  }
}
* {
  margin: 0;
  font-family: "Overpass", sans-serif;
  color: rgb(200, 255, 200);
  box-sizing: border-box;
}

body {
  background-color: darkseagreen;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0 5vw;
}
nav .new-reminder, nav h1, nav .login {
  transform: translateY(20px);
}
nav .new-reminder {
  justify-self: flex-start;
  color: rgb(100, 129, 100);
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  padding-top: 7px;
  background-color: rgb(200, 255, 200);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}
nav .new-reminder:hover {
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  transform: translate(-1px, 19px);
  transition: 0.2s ease;
}
nav .new-reminder:active {
  box-shadow: inset 3px 3px 5px rgb(100, 129, 100);
}
nav h1 {
  font-size: 50px;
  -webkit-text-stroke: 1px rgb(100, 129, 100);
  text-shadow: 3px 3px 5px rgb(100, 129, 100);
  cursor: default;
}
nav .login-button {
  justify-self: flex-end;
  color: rgb(100, 129, 100);
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  padding-top: 7px;
  background-color: rgb(200, 255, 200);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}
nav .login-button:hover {
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  transform: translate(-1px, 19px);
  transition: 0.2s ease;
}
nav .login-button:active {
  box-shadow: inset 3px 3px 5px rgb(100, 129, 100);
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
section .empty {
  transform: translateY(-10vh);
  cursor: default;
}
section .tile-container {
  width: 90vw;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fit, 300px);
  row-gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  background-color: rgb(200, 255, 200);
  padding: 20px;
}

.tile {
  width: 300px;
  height: 300px;
  align-self: center;
  justify-self: center;
  background-color: rgb(158, 231, 207);
  border: solid 1px rgb(120, 175, 157);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.tile:hover {
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  transform: translate(-1px, -1px);
  transition: all 0.2s ease;
}
.tile .delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 15px;
  cursor: pointer;
  right: -15px;
  top: -15px;
  color: rgb(100, 129, 100);
  background-color: rgb(158, 231, 207);
  border: solid 1px rgb(120, 175, 157);
}
.tile .delete img {
  width: 20px;
  height: 20px;
}
.tile .delete:hover {
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  transform: translate(-1px, -1px);
  transition: all 0.3s ease;
}
.tile .tile-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  height: 100%;
  position: relative;
}
.tile .tile-content .tile-reminder {
  font-size: 15px;
  height: 1rem;
  color: rgb(100, 129, 100);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tile .tile-content .tile-datetime {
  font-size: 12px;
  color: rgb(100, 129, 100);
  opacity: 0.5;
}
.tile .tile-content .tile-description {
  height: 70%;
  font-size: 15px;
  color: rgb(100, 129, 100);
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
.tile .tile-content .tile-remaining {
  color: rgb(100, 129, 100);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(30, 30, 30, 0.5);
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-15vh);
  z-index: 6;
}
.modal .modal-content .modal-exit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  font-size: 40px;
  padding-top: 6px;
  padding-left: 6px;
  background-color: rgb(200, 255, 200);
  color: rgb(100, 129, 100);
  border: solid 2px rgb(100, 129, 100);
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal .modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
.modal .modal-content form .modal-reminder,
.modal .modal-content form .modal-description,
.modal .modal-content form .modal-datetime,
.modal .modal-content form .modal-submit {
  margin-bottom: 10px;
  background-color: rgb(200, 255, 200);
  color: rgb(100, 129, 100);
  border-radius: 10px;
  border: solid 2px rgb(100, 129, 100);
  font-size: 20px;
  outline: none;
}
.modal .modal-content form .modal-reminder {
  width: 500px;
  height: 50px;
  overflow-x: auto;
}
.modal .modal-content form .modal-description {
  width: 500px;
  height: 200px;
  resize: none;
}
.modal .modal-content form .modal-description::-webkit-scrollbar {
  width: 7px;
}
.modal .modal-content form .modal-description::-webkit-scrollbar-thumb {
  background-color: rgb(100, 129, 100);
  border-radius: 3px;
}
.modal .modal-content form .modal-description::-webkit-scrollbar-track {
  margin: 10px 0;
}
.modal .modal-content form .modal-datetime {
  width: 250px;
  height: 50px;
  cursor: text;
}
.modal .modal-content form .modal-submit {
  width: 100px;
  height: 50px;
  cursor: pointer;
  padding-top: 3px;
}

.detail-modal .dm-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}
.detail-modal .dm-exit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transform: rotate(45deg);
  font-size: 50px;
  padding-top: 9px;
  padding-left: 6px;
  color: rgb(100, 129, 100);
  background-color: rgb(206, 252, 236);
  cursor: pointer;
  z-index: 6;
}
.detail-modal .dm-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 500px;
  height: 500px;
  position: relative;
  margin-top: 20px;
  background-color: rgb(158, 231, 207);
  padding: 10px;
  border-radius: 10px;
  border: solid 1px rgb(120, 175, 157);
}
.detail-modal .dm-details .dm-cancel {
  position: absolute;
  top: 10px;
  left: 10px;
}
.detail-modal .dm-details .dm-save {
  align-self: flex-end;
}
.detail-modal .dm-details .dm-edit, .detail-modal .dm-details .dm-delete, .detail-modal .dm-details .dm-save, .detail-modal .dm-details .dm-cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: rgb(206, 252, 236);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
}
.detail-modal .dm-details .dm-edit > img,
.detail-modal .dm-details .dm-delete > img,
.detail-modal .dm-details .dm-save > img,
.detail-modal .dm-details .dm-cancel > img {
  width: 30px;
  height: 30px;
}
.detail-modal .dm-details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(100, 129, 100);
  gap: 10px;
}
.detail-modal .dm-details form .dm-form-reminder {
  height: 50px;
}
.detail-modal .dm-details form .dm-form-description {
  resize: none;
  height: 10em;
}
.detail-modal .dm-details form .dm-form-description::-webkit-scrollbar {
  width: 7px;
}
.detail-modal .dm-details form .dm-form-description::-webkit-scrollbar-thumb {
  background-color: rgb(100, 129, 100);
  border-radius: 5px;
}
.detail-modal .dm-details form .dm-form-description::-webkit-scrollbar-track {
  margin: 10px 0;
}
.detail-modal .dm-details form .dm-form-datetime {
  flex-direction: row;
  cursor: text;
}
.detail-modal .dm-details form .dm-form-reminder,
.detail-modal .dm-details form .dm-form-description,
.detail-modal .dm-details form .dm-form-datetime {
  background-color: rgb(206, 252, 236);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  color: rgb(100, 129, 100);
  font-size: 30px;
  width: 100%;
}
.detail-modal .dm-details .dm-reminder,
.detail-modal .dm-details .dm-datetime,
.detail-modal .dm-details .dm-description,
.detail-modal .dm-details .dm-button-container {
  font-size: 30px;
  width: 100%;
}
.detail-modal .dm-details .dm-reminder {
  color: rgb(100, 129, 100);
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0;
}
.detail-modal .dm-details .dm-reminder::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgb(206, 252, 236);
  cursor: pointer;
}
.detail-modal .dm-details .dm-reminder::-webkit-scrollbar-thumb {
  background-color: rgb(100, 129, 100);
  border-radius: 3px;
}
.detail-modal .dm-details .dm-datetime {
  color: rgb(100, 129, 100);
  opacity: 0.5;
}
.detail-modal .dm-details .dm-description {
  color: rgb(100, 129, 100);
  margin-top: 10px;
  height: 10em;
  overflow-wrap: break-word;
  overflow: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}
.detail-modal .dm-details .dm-description::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgb(206, 252, 236);
  cursor: pointer;
}
.detail-modal .dm-details .dm-description::-webkit-scrollbar-thumb {
  background-color: rgb(100, 129, 100);
  border-radius: 3px;
}
.detail-modal .dm-details .dm-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  align-self: center;
  padding: 10px;
}
.detail-modal .dm-details .dm-button-container h5 {
  color: rgb(100, 129, 100);
  text-align: center;
}/*# sourceMappingURL=App.css.map */