* {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  color: rgb(200, 255, 200);
  box-sizing: border-box;
}

body {
  background-color: darkseagreen;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}

.title {
  font-size: 50px;
  -webkit-text-stroke: 1px rgb(100, 129, 100);
  text-shadow: 3px 3px 5px rgb(100, 129, 100);
}

.empty {
  margin-top: 20px;
}

/*********/
/* Modal */
/*********/

/* Modal Button */
.modal-button {
  width: 250px;
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  background-color: rgb(200, 255, 200);
  font-size: 20px;
  color: rgb(100, 129, 100);
  transition: 0.3s ease;
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
}

.modal-button:hover {
  color: rgb(100, 129, 100);
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  transform: translateX(-1px) translateY(-1px);
  transition: 0.2s ease;
}

.modal-button:active {
  box-shadow: inset 3px 3px 5px rgb(100, 129, 100);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(100, 129, 100, 0.8);
  z-index: 5;
}

.modal-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.modal-component.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  transform: rotate(45deg);
  font-size: 30px;
  padding-top: 6px;
  padding-left: 6px;
  cursor: pointer;
  z-index: 10;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: auto;
  width: auto;
  border-radius: 10px;
  z-index: 1;
  z-index: 10;
}

.modal-component {
  margin-bottom: 10px;
  background-color: rgb(200, 255, 200);
  color: rgb(100, 129, 100);
  border-radius: 5px;
  border: solid 2px rgb(100, 129, 100);
  outline: none;
  font-size: 15px;
  z-index: 10;
}

.modal-component.reminder {
  width: 300px;
  height: 30px;
}

.modal-component.description {
  width: 300px;
  height: 70px;
  resize: none;
}

.modal-component.description::-webkit-scrollbar {
  background-color: darkseagreen;
  width: 5px;
}

.modal-component.description::-webkit-scrollbar-thumb {
  background-color:rgb(100, 129, 100);
  border-radius: 3px;
}

.modal-component.datetime {
  width: 200px;
  height: 25px;
  font-size: 15px;
  cursor: text;
}

.modal-component.submit {
  cursor: pointer;
  width: 70px;
  height: 25px;
  font-size: 15px;
  padding-top: 3px;
}


/*********/
/* Tiles */
/*********/
.tiles-container {
  align-self: center;
  display: grid;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fit, auto);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  background-color: rgb(200, 255, 200);
  padding: 20px;
  justify-content: space-between;
  row-gap: 30px;
}

.tile {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(158, 231, 207);
  border: solid 1px rgb(120, 175, 157);
  padding: 5px;
  /* box-shadow: 3px 3px 5px rgb(100, 129, 100); */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  animation-name: appear;  
  animation-duration: 2.5s;
  animation-delay: 0s;
}

@keyframes appear {
  0% {
    background-color: rgb(182, 255, 182);
    box-shadow: 5px 5px 10px rgb(100, 129, 100);
  }
  100% {
    background-color: rgb(158, 231, 207);
    box-shadow: none;
  }
}

.tile:hover {
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  /* box-shadow: 5px 5px 7px rgb(100, 129, 100); */
  transform: translate(-1px, -1px);
  transition: all 0.3s ease;
}

.tile-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.tile-reminder {
  font-size: 15px;
  height: 1rem;
  color: rgb(100, 129, 100);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tile-datetime {
  font-size: 12px;
  color: rgba(100, 129, 100, 0.541);
}

.tile-description {
  max-height: 60%;
  font-size: 15px;
  color: rgb(100, 129, 100);
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.tile.delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
  right: -15px;
  top: -15px;
  color: rgb(100, 129, 100);
}

.tile.delete > img {
  height: 20px;
  width: 20px;
}

.tile-remaining {
  color: rgb(100, 129, 100);
  position: absolute;
  bottom: 0;
  /* left: 0; */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}

/****************/
/* Detail Modal */
/****************/
.dm-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.dm-exit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  transform: rotate(45deg);
  font-size: 30px;
  padding-top: 6px;
  padding-left: 6px;
  cursor: pointer;
  color: rgb(100, 129, 100);
  background-color: rgb(206, 252, 236);
  z-index: 10;
}

.dm-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
  height: auto;
  margin-top: 20px;
  background-color: rgb(158, 231, 207);
  padding: 10px;
  border-radius: 5px;
  border: solid 1px rgb(120, 175, 157);
}

.dm-reminder {
  color: rgb(100, 129, 100);
  width: 100%;
  max-height: 1.5em;
  overflow: auto;
  overflow-y: hidden;
  margin: 0;
}

.dm-datetime {
  color: rgba(100, 129, 100, 0.541);
}

.dm-description {
  color: rgb(100, 129, 100);
  margin-top: 10px;
  width: 100%;
  height: 10.5em;
  overflow-wrap: break-word;
  overflow: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.dm-button-container {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dm-button-container > h5 {
  color:rgb(100, 129, 100);
  text-align: center;
}

.dm-reminder::-webkit-scrollbar,
.dm-description::-webkit-scrollbar {
  background-color: rgb(206, 252, 236);
  width: 5px;
  height: 5px;
  cursor: pointer;
}

.dm-reminder::-webkit-scrollbar-thumb,
.dm-description::-webkit-scrollbar-thumb {
  background-color:rgb(100, 129, 100);
  border-radius: 3px;
}

.dm-edit, .dm-delete, .dm-save, .dm-cancel {
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(206, 252, 236);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 4px;
}

.dm-edit > img,
.dm-delete > img,
.dm-save > img,
.dm-cancel > img {
  height: 20px;
  width: 20px;
}

/* Editing Form */

.dm-form {
  width: 100%;
  color: rgb(100, 129, 100);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dm-cancel {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dm-save {
  align-self: flex-end;
}

.dm-form.datetime {
  flex-direction: row;
  cursor: text;
}

.dm-form.description {
  resize: none;
  height: 8rem;
}

.dm-form.reminder {
  height: 1.5rem;
}

.reminder::-webkit-scrollbar {
  background-color: rgb(206, 252, 236);
  height: 5px;
  width: 5px;
  cursor: pointer;
}

.dm-form.reminder::-webkit-scrollbar-thumb {
  background-color:rgb(100, 129, 100);
  border-radius: 3px;
  height: 5px;
}

.dm-form.reminder,
.dm-form.description,
.dm-form.datetime {
  background-color: rgb(206, 252, 236);
  border: solid 1px rgb(100, 129, 100);
}

.dm-form.description::-webkit-scrollbar {
  background-color: rgb(206, 252, 236);
  width: 5px;
  cursor: pointer;
}

.dm-form.description::-webkit-scrollbar-thumb {
  background-color:rgb(100, 129, 100);
  border-radius: 3px;
}