* {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  background-color: darkseagreen;
  color: rgb(200, 255, 200);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

/*******/
/* Nav */
/*******/
nav {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 30px 0 30px 40px;
  width: 270px;
  height: auto;
}

.nav-title {
  font-size: 50px;
  /* text-shadow: 3px 3px rgb(116, 151, 116); */
  -webkit-text-stroke: 1px rgb(100, 129, 100);
  text-shadow: 3px 3px 5px rgb(100, 129, 100);
}

.nav-new-reminder {
  width: 250px;
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  /* box-shadow: 0 0 5px rgb(100, 129, 100); */
  background-color: rgb(200, 255, 200);
  font-size: 20px;
  color: rgb(100, 129, 100);
  transition: 0.3s ease;
}

.nav-new-reminder {
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
}

.nav-new-reminder:hover {
  /* background-color: rgb(205, 255, 205); */
  color: rgb(100, 129, 100);
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  transform: translateX(-1px) translateY(-1px);
  transition: 0.3s ease;
}

.nav-new-reminder:active {
  box-shadow: inset 3px 3px 5px rgb(100, 129, 100);
}

/*********/
/* Tiles */
/*********/
.tiles-container {
  align-self: center;
  display: grid;
  width: calc(100vw - 80px);
  height: auto;
  grid-template-rows: repeat(5, auto);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  background-color: rgb(200, 255, 200);
}

