* {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  color: rgb(200, 255, 200);
  box-sizing: border-box;
}

body {
  background-color: darkseagreen;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}

.title {
  font-size: 50px;
  -webkit-text-stroke: 1px rgb(100, 129, 100);
  text-shadow: 3px 3px 5px rgb(100, 129, 100);
}

/*********/
/* Modal */
/*********/

/* Modal Button */
.modal-button {
  width: 250px;
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  background-color: rgb(200, 255, 200);
  font-size: 20px;
  color: rgb(100, 129, 100);
  transition: 0.3s ease;
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
}

.modal-button:hover {
  color: rgb(100, 129, 100);
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  transform: translateX(-1px) translateY(-1px);
  transition: 0.2s ease;
}

.modal-button:active {
  box-shadow: inset 3px 3px 5px rgb(100, 129, 100);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(100, 129, 100, 0.8);
  z-index: 5;
}

.modal-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.modal-component.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  transform: rotate(45deg);
  font-size: 30px;
  padding-top: 6px;
  padding-left: 6px;
  cursor: pointer;
  z-index: 10;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: auto;
  width: auto;
  border-radius: 10px;
  z-index: 1;
  z-index: 10;
}

.modal-component {
  margin-bottom: 10px;
  background-color: rgb(200, 255, 200);
  color: rgb(100, 129, 100);
  border-radius: 5px;
  border: solid 2px rgb(100, 129, 100);
  outline: none;
  font-size: 15px;
  z-index: 10;
}

.modal-component.reminder {
  width: 300px;
  height: 30px;
}

.modal-component.description {
  width: 300px;
  height: 70px;
  resize: none;
}

.modal-component.datetime {
  width: 200px;
  height: 25px;
  font-size: 15px;
}

.modal-component.submit {
  cursor: pointer;
  width: 70px;
  height: 25px;
  font-size: 15px;
  padding-top: 3px;
}


/*********/
/* Tiles */
/*********/
.tiles-container {
  align-self: center;
  display: grid;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto-fit, auto);
  border: solid 1px rgb(100, 129, 100);
  border-radius: 10px;
  background-color: rgb(200, 255, 200);
  padding: 20px;
  justify-content: space-between;
  row-gap: 30px;
}

.tile {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(158, 231, 207);
  border: solid 1px rgb(120, 175, 157);
  padding: 5px;
  /* box-shadow: 3px 3px 5px rgb(100, 129, 100); */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.tile:hover {
  box-shadow: 3px 3px 5px rgb(100, 129, 100);
  /* box-shadow: 5px 5px 7px rgb(100, 129, 100); */
  transform: translate(-1px, -1px);
  transition: all 0.3s ease;
}

.tile-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.tile-details {
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.tile-details.reminder {
  font-size: 15px;
  color: rgb(100, 129, 100);
}

.tile-details.datetime {
  font-size: 12px;
  color: rgba(100, 129, 100, 0.541);
}

.tile-details.description {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(100, 129, 100);
  height: 100%;
}

.tile.exit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  transform: rotate(45deg);
  font-size: 30px;
  padding-top: 10px;
  padding-left: 5px;
  cursor: pointer;
  right: -15px;
  top: -15px;
  color: rgb(100, 129, 100);
}